

#form_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}

#back_button {
    display: flex;
    width: 100%;
}

#back_arrow {
    display: flex;
    padding-top: 6px;
    cursor: pointer;
}

#back_arrow:after {
    content: '';
    display:inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.5rem;
    border-top: 0.1rem solid #333;
    border-right: 0.1rem solid #333;
    transform: rotate(225deg);

}

#arrow_name {
    display: flex;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 1px;
    font-weight: 300;
}

#input_form {
    display: flex;
    width: 100%;
    padding: 50px 15%;
}

.input_form_name {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.input_text_box {
    display: flex;
    margin-bottom: 15px;
}

.input_text_box_name {
    margin: 0;
    font-size: 13px;
}

.input_text_box input {
    padding: 0;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 13px;
    font-size: 12px;
    cursor: default;
}

.input_text {
    width: 50%
}

.input_file {
    width: 50%;
}

.submit_reset_button {
    width: 100%;
    margin-top: 50px;
}

.submit_reset_button div {
    display: inline;
    background: black;
    color: white;
    padding: 5px 10px;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 15px;
}

.submit_reset_button div:hover {
	opacity: 80%;
}

#alert_box_Drive {
    position: absolute;
    color: red;
    font-size: 13px;
    font-weight: 500;
    margin-top: 34px;
    text-align: center;
    width: 256.94px;
}

@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

.click_disable {
    pointer-events : none;
}

.click_able {
    pointer-events : auto;
}

.openWebBtn {
    font-size: 11px;
    cursor: pointer;
    display: inline;
    width: 50%;
    margin-right: 15px;
    font-weight: 600;
    border-bottom: 2px solid black;
}


.result_box {
    font-size: 12px;
    margin-bottom: 15px;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

@keyframes fadein {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.5;
    }
    to {
        opacity: 1;
    }
}

#searched_item {
    width: 154px;
    background-color: white;
    height: 73px;
    position: absolute;
    margin-left: 91px;
    margin-top: -15px;
    overflow: auto;
    box-shadow: 0 12px 20px -12px rgb(0 0 0 / 35%);
    display: none;
}

#searched_item.active {
    display: block;
}

#searched_item ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    margin-top: 15px;
    color: #828282;
}

#searched_item li {
    margin-bottom: 5px;

}

#id {
    margin-left: 27.4px;
}

#loading_box{
    margin-top: 24.2px;
    width: 100%;
    padding: 8% 15%;
    text-align: center;
    width:70%;
    height: 100%;
    background-color: white;
}

#loading_box.inactive {
    display: none;
}

#loading_box img {
    height: 160px;
}